/* Contenedor */
.c {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.c-f {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Filas */
.r {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/* Columnas */
.cl {
  flex: 1 0 0%;
  padding: 0 15px;
  box-sizing: border-box;
}

.cl-1 {
  flex: 0 0 8.33%;
  max-width: 8.33%;
}
.cl-2 {
  flex: 0 0 16.66%;
  max-width: 16.66%;
}
.cl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.cl-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.cl-5 {
  flex: 0 0 41.66%;
  max-width: 41.66%;
}
.cl-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.cl-7 {
  flex: 0 0 58.33%;
  max-width: 58.33%;
}
.cl-8 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.cl-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.cl-10 {
  flex: 0 0 83.33%;
  max-width: 83.33%;
}
.cl-11 {
  flex: 0 0 91.66%;
  max-width: 91.66%;
}
.cl-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Justificación */
.j-c {
  justify-content: center;
}
.j-e {
  justify-content: flex-end;
}

/* Text */
.t-c {
  text-align: center;
}
.t-e {
  text-align: end;
}

/* Alineación */
.a-c {
  align-items: center;
}
.a-e {
  align-items: flex-end;
}

/* Márgenes */
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}

/* Padding */
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}

/* Responsive: hacer que las columnas se conviertan en filas en pantallas pequeñas */
@media (max-width: 768px) {
  .r {
    flex-wrap: wrap; /* Las filas deben poder romperse */
  }

  .cl {
    flex: 0 0 100%; /* Las columnas se vuelven filas con 100% de ancho */
    max-width: 100%; /* Aseguramos que no se desborden */
  }

  /* Clase para las columnas que no deben cambiar a fila */
  .cl-nw {
    flex: 0 0 0% !important; /* No se ajustará al 100% y no cambiará de columna */
    max-width: 100% !important;
  }
}
